* {
  box-sizing: border-box;
}
.wrapper {
    margin: auto;
    width: 928px;
}
.text_out {
    display: block;
    width: 99%;
    height: 80px;
    margin-bottom: 20px;
}
.button {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
  transition: .5s;
}
.btn_backspace,
.btn_tab,
.btn_caps,
.btn_del,
.btn_enter,
.btn_shift,
.btn_ctrl,
.btn_alt {
  background: #bbb;
  text-transform: capitalize;
}
.btn_tab,
.btn_enter {
  width: calc(50px + 20px);
}
.btn_caps {
  width: calc(50px + 50px);
}
.btn_shift {
  width: calc(50px + 50px + 20px);
}
.btn_backspace {
  width: calc(50px + 50px + 30px);
}
.btn_enter{
  width: calc(50px + 50px + 40px);
}
.btn_shift:last-child {
  width: 60px;
}
.btn_ctrl:first-child {
    width: calc(50px + 20px)
}
.btn_ {
  width: 340px;
  background: inherit !important;
}

.button:hover {
  border: 1px solid darkred;
  color: darkred;
}
.button_active {
  background: #000;
  color: white;
}
.caps-lock-on {
  background: #000;
  color: white;
}
